pandas
numpy
openpyxl
sqlalchemy
sqlmodel
psycopg[binary]
pydantic
python-dotenv
python-decouple
fastapi
uvicorn
gunicorn
timescaledb
pydantic[email]
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
python-jose[cryptography]